{{define "index"}}
<div class="d-flex flex-column min-vh-100"> <!-- Обертка для Flexbox -->
  {{ template "header"}}
  <title>Главная страница</title>
  <main class="px-3 flex-grow-1"> <!-- flex-grow-1 для заполнения пространства -->
    <h1 class="display-5">Главная страница</h1>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-10 text-center">
          <p style="font-size: 1.2em;">
            Добро пожаловать! Этот сайт — моя учебная площадка для освоения и практики веб-разработки с использованием языка программирования Go. Основная цель проекта — показать, как можно создавать функциональные и эффективные веб-приложения, а также делиться своими навыками и экспериментами с вами.
          </p>
        </div>
      </div>
    </div>

    <hr class="my-4">
  
    <div class="row">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9 text-center">
            <p style="font-size: 1.2em;">
              Если Вы хотите ознакомиться с функционалом данного веб-сайта - нажмите на кнопку ниже. 
              Там я предоставил весь имеющийся и разрабываемый функционал.
            </p>
          </div>
        </div>
      </div>

        <a href="/about" class="mt-4">
          <button type="button" class="btn btn-outline-secondary btn-lg">Подробнее о нас</button>
        </a>
      </div>
    </div>
  </main>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  {{template "footer"}}
</div>
{{end}}
